{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор этого революционного проекта</h1>
<p>
  Я родился в 90-е на краю города, Python рано ударил в голову...</br>
  15 лет в разработке решений нерешаемого, созидатель созидательного и творец собственных ошибок.</br>
  <p>Основной стэк технологий:</p>
  <ul>
    <li>- Ctrl-C, Ctrl-V
    <li>- Python
    <li>- Django
    <li>- Bootstrap
    <li>- HTML
    <li>- SQL
    <li>- git
    <li>- Stack Overflow
  </ul>
  
  С вас - ТЗ, с меня - ХЗ.
</p>
{% endblock %}