{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Что такое Python?</p>
      Python — это язык программирования, который широко используется в интернет-приложениях, разработке программного обеспечения, науке о данных и машинном обучении (ML). Разработчики используют Python, потому что он эффективен, прост в изучении и работает на разных платформах. Программы на языке Python можно скачать бесплатно, они совместимы со всеми типами систем и повышают скорость разработки.</p>
    <p>Django</p>
    <p>Дикий Запад всегда был населен самыми отчаянными головорезами, которые днями и ночами проливали кровь невинных людей. Терроризм вовсю процветал, пока в городе не появился Джанго. Именно ему было суждено защитить слабых и отстоять честь тех, кто не мог сделать это сам. Великий защитник Джанго как будто бы явился из ниоткуда, и ему суждено изменить мир небольшого городка.</p>
  </article>
</div>
{% endblock %}